html {
	margin: 0;
	padding: 0;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: aquamarine;
    border-style: solid;
    position: relative;
}

header h1 {
  
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: red;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: blue;
	}