
body {
	margin: 30px;
	padding: 50px;
	width: 90%;
	color: rgb(153, 51, 102);
    text-align: center;
	background-image: url('./images/background1.jpg');
	background-repeat: no-repeat;
  	background-size: cover;
    border-style: solid;
    position: relative;
}
h1 {
	text-decoration: underline; 
	color: rgb(0, 47, 255);
	font-size: 100px;
}
.hobby {
	font-style: italic;
	display: inline;
	box-sizing: border-box;
	color: rgb(255, 0, 242);
	text-align: center;
	border-style: black 5px solid;
}
#mountainBiking {
	color: green;
}
#flyingAirplanes{
	color: yellowgreen;
}
#computerGames{
	color:limegreen;
}

h2 {
	text-decoration: underline;
}
p {
	font-size: 20px;
	font-style: normal;
}
a {
	list-style-type: none;
	font-size: 30px;
}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: red;
}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: blue;
}